@import '../../../core/config';

.offer-articles {

  img {
    border: 1px solid color('lakme','primary');
  }
  p {
    position: relative;
    top: 10px;
    padding: common('spacing.xs')
  }
  .top-side-spacing {
    margin-top:30px; 
  }

}
