&.is-sticky {
  z-index: $z-index-layer;
  position: relative;

  .header-supplementary {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header-main {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  @include media-query(desktop, wide) {
    .header-main {
      top: 35px;
    }
  }
}
