.searchBoxWithSuggestions {
  .form-search {
    position: relative;
    overflow: hidden;
  }

  .searchBox-label {
    display: table;
    width: 100%;
  }

  .searchBox-title {
    display: table-cell;
    white-space: nowrap;
    padding-right: 15px;
  }

  .search-query {
    line-height: 25px;
    height: 25px;
    border: 1px solid $gray-light;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .button {
    position: absolute;
    right: 0;
    top: 0;
    background: $gray-base;
    border: 0;
    width: 27px;
    height: 27px;
    font-size: 0;
    line-height: 1;
    transition: all .3s;

    &:hover {
      background: $brand-primary;
      transition: all .3s;
    }

    &:after {
      @include font-awesome($fa-var-search);
      font-size: 1.3rem;
      color: #fff;
      line-height: 27px;
      top: -2px;
    }
  }

  .searchBox-suggestions {
    font-family: $font-family-sans-serif;
    list-style: none;
    padding-left: 0;
  }

  .searchBox-suggestion {
    background: transparent;
    border: none;
    font-size: 2rem;

    &:focus {
      color: $brand-primary;
    }
  }
}

.searchBox-advanced-suggestions {
  @include wrapped;
  margin-top: $component-spacing;
  padding: 0;

  .suggestions-section-head {
    padding-top: 10px;
    display: flex;
    align-items: baseline;
  }

  h3 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .results-count {
    flex-grow: 1;
    padding-left: 10px;
  }

  a.view-all {
    font-size: 13px;
    cursor: pointer;

    &:after {
      content: " »";
    }
  }

  .suggestions-section-contents {
    @include row();
    padding: 20px 0;
    border-bottom: 1px $gray-light-2 solid;
  }

  .suggestions-item {
    @include column(1/3);

    @include respond-to(phone) {
      width: 100%;
    }

    @include respond-to(desktop) {
      @include column(1/6);
    }

    display: inline-grid;
  }

  .suggestions-title {
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
  }
}
