.ratingsandreviews .kritique {

  .rr-widget-container {
    @include wrapper;
    margin: 0 auto !important;

    img {
      max-width: initial;
      width: auto;
    }

    .customReview {
      cursor: pointer;
    }

    &.rr-inline-widget {
      @import 'config';
      @function g($a...) {
        @return get-last($summary, $a...);
      }
      padding: 0;
      width: auto;

      @include breakpoints {
        @include text(g('text'), $media);
      }

      .aggregateRating img {

        @include breakpoints {
          @include box(g('_rating.box'), $media);
        }
      }

      .wRtng {
        @include breakpoints {
          @include button(g('_action.button'), $media);
        }

        &:last-of-type {
          @include breakpoints {
            @include button(g('_last-action.button'), $media);
          }
        }
      }
    }
  }
}
