@import '../../../core/config';

.box-testimonial-container {
  color: color('white');

  .carousel {
    &.carousel-testimonial {
      &.is-ready {
        .carousel-slide {
          position: inherit;
        }
      }

      .carousel-slide {
        position: absolute;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);

        p {
          color: color('white');

          &:last-child {
            font-size: px(20);
          }
        }
      }
    }
  }
}