@import '../../../core/config';
.navigation {
    &.naviagtion-services-custom {
      ul.navigation-root {
        li.navigation-item {
          position: relative;
          border: 1px solid color('lakme','primary');
          align-items: center;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-45deg, rgba(29, 29, 27, 0.4) 2px, transparent 2px, transparent 4px, rgba(29, 29, 27, 0.4) 4px, rgba(29, 29, 27, 0.4) 6px, transparent 6px, transparent);
            background-size: 6px 6px;
            transition: all .5s; 
          }

          &:hover{
            .navigation-item-title{
              background: none;
            }
            &:after{
              width: 0;
              height: 0;
            }
          }
        }

        .navigation-item-title {
          background: transparent;
          display: inline-block;
          text-align: center;
          color: color('white');
          font-family: font-family('lakmePrimary');

          &:after{
            display: none;
          }
        }
      }
    }
  }

