a.button-primary {
  @import 'config';
  @function g($a...) {
    @return get-last($buttonPrimary, $a...);
  }

  @include breakpoints() {
    @include button(g('_link.button'), $media);
  }

  > span {
    @include breakpoints() {
      @include button(g('_inner-span.button'), $media);
    }
  }

  &::after{
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: color('lakme', 'primary') !important;
    content: "";
    transition: all .3s;
    position: absolute;
    z-index: -1;
  }

  &:hover > span {
    $pseudo: safetype(g('_inner-span.button.line.side'), 'after');
    &:#{$pseudo} {
      @include breakpoints() {
        @include hover(g('_inner-span.button.line.hover'), $media);
      }
    }
  }
  &:hover::after{
    width:100%;
  }
  z-index: 1;
  position: relative;
}
