@import '../../core/config';

.videoGallery {
  &-heading {
    @include heading();
  }

  &-video {
    border: 2px solid $border-color;

    object,
    embed {
      width: 100% !important;
    }
  }

  &-thumbnail {
    position: relative;
    display: inline;
    float: left;
    margin: 0 9px;
    padding: 0;
    max-width: 100px;

    overflow: hidden;
    cursor: pointer;
    text-align: center;

    &-image {
      position: relative;
      margin: 2px;

      border: solid 2px $border-color;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &-title {
      display: block;
      margin: 10px auto 0 auto;
      width: 71px;

      font-size: 11px;
    }

    &-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 28px;
      width: 30px;
      margin: -14px 0 0 -15px;

      opacity: 0.7;

      &:before {
        display: inline-block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        @include font-awesome($fa-var-play);
        background: $white;
        border: 3px solid $border-color;
        border-radius: 50%;
        line-height: 24px;
        text-align: center;
        text-indent: 5px;
        font-size: 15px;
      }
    }

    &.is-active
    &-overlay {
      opacity: 0;
      transition: opacity .5s;
    }
  }

  &-thumbnails {
    position: relative;
    margin-top: 18px;

    &-list {
      li {
        &:hover, &.active {
          .image {
            margin: 0;

            border: solid 4px $border-color;
          }
        }
      }
    }

    &-title {
      display: block;
      margin: 10px auto 0 auto;
      width: 71px;

      font-size: 11px;
    }
  }

  &-list {
    position: relative;
    margin: 0 50px;

    overflow: hidden;

    &-inner {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;

      overflow: hidden;
      list-style: none;
    }
  }

  &-description {
    margin: 15px 0;
  }

  &-arrow,
  &-arrow.is-disabled:hover {
    position: absolute;
    top: 0;
    width: 35px;
    height: 60px;

    background: 50% no-repeat;
    font: 0/0 serif;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 50%;

      color: $text-color;
    }
  }

  &-arrow {
    &.is-disabled {
      opacity: 0.5;
    }

    &:hover {
      &:before {
        color: $medium-theme-color;
      }
    }

    &-left,
    &-left.is-disabled:hover {
      left: 0;

      &:before {
        @include font-awesome($fa-var-chevron-left);
        font-size: 30px;
      }
    }

    &-right,
    &-right.is-disabled:hover {
      right: 0;

      text-align: right;

      &:before {
        @include font-awesome($fa-var-chevron-right);
        font-size: 30px;
      }
    }

  }
}

.mod-js {
  .videoGallery-nojs {
    display: none;
  }
}