$addThis: (
  spacings: common('spacings')
);

$addThis: merge($addThis, (
  _main: (
    _wrapper: (
      box: (
        margin: (
          margin: breakpoint((tablet-max: 0 -20px, desktop: 0 get($addThis, 'spacings.s') * -1))
        )
      )
    ),
    _social-icons: (
      classlist: (
        defaults: (
          button: (
            text: (
              text-decoration: none
            ),
            margin: (
              margin: breakpoint((mobile: 30px 20px, tablet-min: 20px get($addThis, 'spacings.s')))
            ),

            icon: (
              color: color('black'),
              side: after,
              font-size: breakpoint((mobile: px(22), tablet-min: px(15))),
              line-height: 2,
              hover: (
                color: color('neutral', 'dark')
              )
            ),
          )
        ),
        items: (
          addthis_button_facebook: (
            button: (
              icon: (
                content: common('icon.facebook')
              )
            )
          ),
          addthis_button_twitter: (
            button: (
              icon: (
                content: common('icon.twitter')
              )
            )
          ),
          addthis_button_pinterest_share: (
            button: (
              icon: (
                content: common('icon.pinterest')
              )
            )
          ),
          addthis_button_email: (
            button: (
              icon: (
                content: common('icon.email')
              )
            )
          )
        )
      )
    )
  )
));
