@import '../../core/config';

.addthis {
  @import 'config';
  @function g($a...) {
    @return get-last($addThis, $a...);
  }

  .addthis_toolbox {
    @include breakpoints() {
      @include box(g('_main._wrapper.box'), $media);
    }
  }

  a {
    @include breakpoints() {
      @include classlist(g('_main._social-icons.classlist')) {
        @include button(get($curr, 'button'), $media);
      }
    }

    > .at-icon-wrapper {
      display: none;
    }
  }

  .addthis-missing-func {
    display: none;
  }

  &.is-disabled {
    .addthis_toolbox {
      display: none;
    }

    .addthis-missing-func {
      display: block;
    }
  }
}

@import 'bigIcons/index';
