.searchResults {
  @import 'config';
  @function g($a...) {
    @return get-last($recipes, $a...);
  }

  // grid view
  .item-recipe {
    .bv_writeAReview_buttonMinimalist.bv_ffs_hover {
      display: none !important; //overwrite ratings important styles
    }

    .ratingsandreviews .bv_main_container .bv_numReviews_text,
    .ratingsandreviews .bv_main_container .bv_avgRating {
      @include breakpoints {
        /*! @important(start) */
        @include paragraph(g('_ratings._count.paragraph'), $media);
        /*! @important(stop) */
      }
    }

    .richText:last-of-type {
      // hide in grid view only
      display: none;
    }
  }

  .recipe-find-out-more,
  .recipe-portions,
  .recipe-cooking-time,
  .recipe-difficulty-level {
    display: none;
  }

  .display-list {
    // list view
    .item-recipe {
      $listItem: merge((
        box-sizing: border-box,
        padding: (
          padding: breakpoint((mobile: spacings('s') spacings('s') 0, tablet-min: 0))
        )
      ), g('_list-item.box'));

      @include breakpoints() {
        @include box($listItem, $media);
      }

      .searchResults-desc {
        h3, h4, h5, h6 {
          $itemTitle: merge((
            text: (
              font-size: breakpoint((mobile: px('s')))
            )
          ), g('_list-item._title.paragraph'));

          @include breakpoints() {
            @include paragraph($itemTitle, $media);
          }
        }

        p {
          $recipeDesc: merge((
            margin: (
              margin-top: breakpoint((tablet-max: 20px, desktop: spacings('s'))),
              margin-bottom: breakpoint((tablet-max: spacings('xs'), desktop: 15px))
            )
          ), g('_list-item._description.paragraph'));

          @include breakpoints() {
            @include paragraph($recipeDesc, $media);
          }

          &:first-of-type {
            margin-top: spacings('s') * -1;
          }

          span {
            @include breakpoints() {
              $recipeDetails: merge((
                margin: (
                  margin-right: spacings('s'),
                  margin-top: spacings('s')
                )
              ), g('_list-item._recipe-details.paragraph'));

              @include paragraph($recipeDetails, $media);
            }

            &:last-of-type {
              margin-right: 0;
            }
          }
        }

        .recipe-portions {
          @include breakpoints() {
            @include button(g('_list-item._recipe-portions.button'), $media);
          }
        }

        .recipe-cooking-time {
          @include breakpoints() {
            @include button(g('_list-item._cooking-time.button'), $media);
          }
        }

        .recipe-difficulty-level {
          $dificultyLevel: merge((
            padding: 6px 16px
          ), g('_list-item._cooking-dificulty-level.button'));

          @include breakpoints() {
            @include button($dificultyLevel, $media);
          }
        }

        .recipe-find-out-more {
          @include breakpoints() {
            @include paragraph(g('_list-item._find-more.paragraph'), $media);
          }
        }
      }
    }

    .ratingsandreviews,
    .taglist {
      display: none;
    }

    .recipe-find-out-more,
    .recipe-portions,
    .recipe-cooking-time {
      display: inline;
    }
  }
}