/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:FontAwesome;src:url(../../assets/fonts/fontawesome-webfont.eot?v=4.7.0);src:url(../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),url(../../assets/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),url(../../assets/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),url(../../assets/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),url(../../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");font-weight:400;font-style:normal}.offer-articles img{border:1px solid #eb008b}.offer-articles p{position:relative;top:10px}.offer-articles .top-side-spacing{margin-top:30px}