@import '../../../core/config';

.reference-backstage-tips-articles{
  .container_item {
    position: relative;
    cursor: pointer;
    margin-top: 20px; 
  
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(-45deg, rgba(29, 29, 27, 0.3) 2px, transparent 2px, transparent 4px, rgba(29, 29, 27, 0.3) 4px, rgba(29, 29, 27, 0.3) 6px, transparent 6px, transparent);
      background-size: 6px 6px;
      transition: all .5s;
  
      
    }
    &:hover::after {
      background-image: none;
      width: 0;
      height: 0;
    }
  
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
      border: 1px solid color('lakme','primary');
      box-sizing: border-box;
    }
  
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  
    &:hover .image {
      opacity: 0.3;
    }
  
    &:hover .middle {
      opacity: 1;
    }
  
    .text {
      color: color('white');
      font-family: font-family('lakmePrimary');
      font-size:28px;
      line-height: 1.2;
    }
  }
}

.box{
  &.back-stage-tips-wrapper{
    .listing{
      border-bottom: 4px solid #aeaeae;
      margin-bottom: 10px;

      .listing-items{
        a{
          display: none;
        }
      }
    }
  }
}