.box-smart-label {
  @function gl($a...) { @return get-last($header, 'supplementary._smartlabel', $a...); }
  @include breakpoints {
    @include box(gl('box'), $media);
  }

  .richText {
    @include breakpoints {
      @include paragraph(gl('_label.box'), $media);
    }

    p {
      @include breakpoints {
        @include paragraph(gl('_label.paragraph'), $media);
        @include lh-diff(gl('_label.paragraph.text'), $media);
      }
    }
  }

  img {
    @include breakpoints {
      @include box(merge((
        display: block
      ), gl('_image.box')), $media);
    }
  }

  @include media-query(tablet, notebook) {
    .component-content > .content {
      display: flex;
      align-items: center;
    }
  }
}
