.sign-up & {
  @import 'config';
  @function g($a...) {
    @return get-last($sign-up, $a...);
  }
  @include two-columns-wrapper(4, 8);

  @include breakpoints {
    @include box(g('box'), $media);
  }

  &::after {

    @include breakpoints {
      @include box(g('_separator.box'), $media);
    }
  }

  .grid_12 {

    &.left-side-holder {

      @include breakpoints {
        @include box(g('_left-side-holder.box'), $media);
      }
    }

    &.right-side-holder {

      @include breakpoints {
        @include box(g('_right-side-holder.box'), $media);
      }
    }

    .paragraphSystem {

      &.left-side {

        @include breakpoints {
          @include box(g('_left-side-holder._left-side.box'), $media);
        }

        @include media-query(auto, tablet) {

          .image-bleeding {
            display: none;
          }
        }
      }

      &.right-side {

        @include breakpoints {
          @include box(g('_right-side-holder._right-side.box'), $media);
        }
      }
    }
  }
}
