@import '../config'; // import general results config

$article: (
  spacings: common('spacings'),
);

// search result article item in grid view
$article: merge($article, (
  _grid-view-article: (
    box: get($results, '_section-in-grid-view._result-item.box'),
    _title: (
      paragraph: get($results, '_section-in-grid-view._result-item._title.paragraph')
    )
  ),
  _list-view-article: (
    box: (
    ),
    _image: (
      box: get($results, '_section-in-list-view._result-item._image.box'),
    )
  )
));