.searchResults {
  @import 'config';
  @function g($a...) {
    @return get-last($article, $a...);
  }

  // grid view
  .item-article {
    @include breakpoints {
      @include box(g('_grid-view-article.box'), $media);

      .searchResults-desc h5 {
        @include paragraph(g('_grid-view-article._title.paragraph'), $media);
      }
    }
  }

  // list view
  .display-list .item-article {
    @include breakpoints {
      @include box(g('_list-view-article.box'), $media);

      .searchResults-desc h5 {
        @include paragraph(g('_list-view-article._title.paragraph'), $media);
      }
    }

    .searchResults-icon {
       @include breakpoints {
         @include box(g('_list-view-article._image.box'), $media);
       }
     }
  }
}