/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */.table-heading{display:block;color:#323131;font-size:20px;font-weight:700;padding-bottom:10px}.table .button{display:none}@media only screen and (max-width:669px){.table .button{display:block;margin:20px}}.table-caption{padding:13px;background-color:#e1e1e1;border-bottom:none}.table-caption .button{display:block;margin:10px 0 0 5px}@media only screen and (max-width:669px){.table-caption .button{display:none}}.table td,.table th{border:solid #1a1a1a;border-width:1px 0;padding:10px}.table td{vertical-align:middle}.table th{background-color:#e1e1e1;font-weight:700;text-align:center}.table table{width:100%;border-collapse:collapse}.no-js .table .button{display:none}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:FontAwesome;src:url(../../assets/fonts/fontawesome-webfont.eot?v=4.7.0);src:url(../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"),url(../../assets/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),url(../../assets/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),url(../../assets/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),url(../../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");font-weight:400;font-style:normal}@media only screen and (max-width:669px){.table.table-reward-table{overflow:hidden;overflow-x:scroll}}@media print{.table.table-reward-table{overflow:hidden;overflow-x:scroll}}.table.table-reward-table table{table-layout:fixed;color:#505050;text-transform:uppercase}@media only screen and (max-width:768px){.table.table-reward-table table{table-layout:auto}}@media print{.table.table-reward-table table{table-layout:auto}}.table.table-reward-table table th{background:#ededed;color:#eb008b;font-family:Gotham-Black}.table.table-reward-table table tr:nth-child(2){font-family:Gotham-Black}.table.table-reward-table table tr:last-child td{border-bottom:0}.table.table-reward-table.table-happy-hours table tr:nth-child(2){font-family:Gotham-Book}