@import '../../../../core/config';
.richText-content {
  .title-line-left-below {
    text-transform: uppercase;
    font-family: font-family('lakmePrimary');
    font-size: px(30);
    &:after{
      border-top: 10px solid color('lakme','primary');
      content:"";
      width: 35px;
      display: block;
      text-align: left;
    }
  }
}