$backToTop: (
  button: (
    background: (
      background-color: transparent
    ),
    margin: (
      margin: 20px 0,
    ),
    border: (
      border: none,
    ),
    text: (
      font-family: 'primary',
      text-transform: uppercase,
      font-weight: bold,
      text-decoration: none
    ),
    line: (
      display: block,
      side: before,
      width: calc(100% - 25px),
      margin: (
        margin-top: -3px
      ),
      transform: (
        transform: scaleX(0),
        transform-origin: 0 0
      ),
      border: (
        border-top: 2px solid color('black')
      ),
      hover: (
        transform: (
          transform: scaleX(1)
        )
      )
    ),
    icon: (
      content: common('icon.arrow-up'),
      font-size: px(5),
      color: color('black'),
      width: px(14),
      height: px(14),
      margin: (
        margin-left: px(10)
      ),
      border: (
        border-radius: 50%,
        border-width: px(1),
        border-color: color('black'),
        border-style: solid
      )
    )
  )
);
