@import '../../core/config';

.reference-icon-link .back-to-top {
  @import 'config';
  @function g($a...) { @return get-last($backToTop, $a...); }

  float: right;

  @include breakpoints() {
    @include button(g('button'), $media);
  }
}
