@import '../../../../core/config';

.richText-content {
    .article-title {
      font-family: font-family('body');
      font-weight: bold;
      font-size: px(18);
      margin-bottom: 0;
  }

    .author-text, .article-detail {
      color: color('lakme', 'primary');
      font-style: italic;
      margin-top: 0px;
      font-size: px('xxs');
      display: inline-block;
    }
    
    .article-detail{
      color: color('black');
      display: block;
    }
}