.richText.about-us {
  @import 'config';
  @function g($a...) {
    @return get-last($aboutUs, $a...);
  }

  @include breakpoints {
    @include text(g('text'), $media);
    @include box(g('box'), $media);
  }

  .component-content {
    @include wrapper;
  }

  .richText-content {
    margin-left: auto;
    margin-right: auto;

    @include breakpoints {
      @include box(g('_holder.box'), $media);
    }

    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
