@import '../../core/config';

.listingButton {
  @import 'config';
  @function g($a...) {
    @return get-last($showMoreBtn, $a...);
  }

  $box: merge((
    display: flex,
    flex: (
      justify-content: center
    )
  ), g('_main.box'));

  @include breakpoints() {
    @include box($box, $media);
  }

  .show-more {
    appearance: none;
    cursor: pointer;
    border: 0;

    @include breakpoints() {
      @include button(g('_load-more.button'), $media);
    }
  }
}
