@include local-spacings();

$bigIcons: (
  spacings: spacings(),
  _main: (
    box: (),
    _wrapper: (
      box: ()
    ),
    _big-icons: (
      classlist: (
        defaults: (
          button: (
            text: (
              text-decoration: none
            ),
            margin: (
              margin: 0 spacings('s')
            ),
            icon: (
              color: color('black'),
              side: after,
              font-size: px(22),
              line-height: 2,
              hover: (
                color: color('neutral', 'dark')
              )
            )
          )
        ),
        items: (
          addthis_button_facebook: (
            button: (
              icon: (
                content: common('icon.facebook')
              )
            )
          ),
          addthis_button_twitter: (
            button: (
              icon: (
                content: common('icon.twitter')
              )
            )
          ),
          addthis_button_pinterest_share: (
            button: (
              icon: (
                content: common('icon.pinterest')
              )
            )
          ),
          addthis_button_email: (
            button: (
              icon: (
                content: common('icon.email')
              )
            )
          )
        )
      )
    )
  )
)
