$footer-simple: (
  box: (),
  _unilever-icon:(
    icon: (
      content: common('icon.unilever-logo'),
      font-size: breakpoint(80px, 80px, 65px),
      color: color('neutral', 'dark'),
      hover: (
        color: color('neutral', 'light')
      )
    )
  ),
  _primary-nav: (
    box: (),
    _title: (
      paragraph: (
        text: (
          text-align: breakpoint(center, null, null)
        )
      )
    ),
    _link: (
      button: (
        text: (
          font-size: px('xxs')
        )
      )
    )
  ),
  _social-links: (
    box: (),
    _title: (
      paragraph: ()
    ),
    _link-icon: (
      classlist: (
        defaults: (
          font-size: breakpoint(null, 32px, 32px)
        ),
        items: (
          icon-facebook: (),
          icon-twitter: (),
          icon-pinterest: (),
          icon-instagram: ()
        )
      )
    )
  )
);
