@import '../../core/config';

.buyitnow {
  @import 'config';
  @function g($a...) {
    @return get-last($buyItNow, $a...);
  }
  width: auto;

  .addtobag-btn,
  .shopalyst-btn,
  .btn-primary {
    cursor: pointer;
    $button: merge((
      display: breakpoint((mobile: inline-block)), // *** quickfix for inline-flex issues in iOS 10.0.
    ), g('button'));

    @include breakpoints() {
      @include button($button, $media)
    }
  }
}

@import 'shopalystBuyItNow/index';
