@import '../../core/config';

[class*=reference-footer] {
  @import 'config';

  @function g($a...) {
    @return get-last($footer, $a...);
  }

  position: relative;
  z-index: $z-index-content;

  @include breakpoints {
    @include text(g('text'), $media);
  }

  // FOOTER MAIN
  .footer-main {
    >.component-content {
      @include breakpoints {
        @include text(g('main.text'), $media);
        @include box(g('main.box'), $media);
      }
      border-top:1px solid #959595;  
      >.content {
        @include wrapper;

        @include media-query(desktop, auto) {
          display: flex;
        }
      }
    }
  }

  // FOOTER COMMUNICATIONS SECTION (newsletter, social, phone)
  .footer-communications {
    @include media-query(desktop, auto) {
      width: 50%;
    }

    h3 {
      margin-bottom: spacings('xs');
      margin-top: 0;

      @include breakpoints {
        @include paragraph(g('main._newsletter.title.paragraph'), $media);
      }
    }

    p {
      margin-top: spacings('xxs');
      margin-bottom: spacings('xxs');

      @include media-query(tablet, auto) {
        margin-bottom: spacings('xs');
      }

      @include breakpoints {
        @include paragraph(g('main._newsletter.text.paragraph'), $media);
      }
    }
  }

  .richText-footer-social-share {
    h5 {
      margin-top: 0;
      margin-bottom: spacings('s');

      @include breakpoints {
        @include paragraph(g('main._social-links.title.paragraph'), $media);
      }
    }
  }

  .footer-social-links>.component-content>.content {
    display: flex;
    margin: spacings('l') * -0.5;

    @include media-query(mobile) {
      justify-content: space-between;
    }

    >.reference-icon-link {
      margin: spacings('l') * 0.5;
    }

    a {
      display: block;
      //custom css for social icons
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background: #939393;

      @include breakpoints {
        @include link(g('main._social-links.text.link'), $media);

        @include classlist(g('main._social-links.classlist')) {
          @include icon($curr, $media);
        }
      }

      &:after {
        position: relative;
        top: 5px;
      }
    }

    // Hide AEM anchor tag
    >a {
      display: none;
    }
  }

  // FOOTER NEWSLETTER FORM
  .form {
    $mobileButtonWidth: 46px;
    $tabletButtonWidth: 107px;
    $desktopButtonWidth: 125px;

    margin-bottom: spacings('l');
    position: relative;

    @include media-query(tablet, auto) {
      max-width: 475px;
    }

    .formContent {
      display: flex;
      align-items: stretch;
    }

    .component-content {

      .textField {
        flex-grow: 2;

        .control-label {
          display: none;
        }

        input {
          width: 100%;
          box-sizing: border-box;

          @include breakpoints {
            @include input(g('main._newsletter.input'), $media);
          }
        }
      }

      &.error {

        .textField {

          .control-label {
            display: none;
          }
        }
      }
    }


    .formButton {

      .component-content,
      .button {
        height: 100%;
      }

      .button {
        min-width: initial;
        padding: 0;

        $formButton: merge((display: breakpoint((mobile:inline-block)), // due to inline-flex problems in iOS 10 and <, we had to include this line.
          ), g('main._newsletter.button'));

        @include breakpoints {
          @include button($formButton, $media);
        }
      }
    }
  }

  // FOOTER "CALL US" BUTTON (Phone Link, mobile only)
  .reference-phone-link {
    display: none;
    margin-bottom: 40px;

    @include breakpoints(mobile) {
      display: block;

      .phone-link {
        text-decoration: none;
        line-height: spacings('xl');
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: spacings('s');
        padding-right: spacings('s');
        position: relative;
        @include background(g('main._phone-link.background'), $media);
        @include border(g('main._phone-link.border'), $media);
        @include icon(g('main._phone-link._phone-icon.icon'), $media);
      }

      .phone-label {
        margin-right: spacings('s');
        @include text(g('main._phone-link._phone-label.text'), $media);
      }

      .phone-number {
        @include text(g('main._phone-link._phone-number.text'), $media);
        flex-grow: 2;
      }
    }
  }

  // FOOTER PRIMARY NAVIGATION
  .footer-primary-nav {

    @include breakpoints {
      @include box(g('main._primary-nav.box'), $media);
    }

    @include media-query(tablet, auto) {
      flex-grow: 2;
    }

    >.component-content {
      >.content {
        margin: spacings('m') * -1;

        @include media-query(mobile) {
          margin: spacings('l') * -1;
        }

        @include media-query(tablet, auto) {
          display: flex;
        }

        >.box {
          margin: spacings('m');

          @include media-query(mobile) {
            margin: spacings('l');
          }

          h4 {
            margin: 0;

            @include breakpoints {
              @include paragraph(g('main._primary-nav.title.paragraph'), $media);
            }
          }
        }

        .navigation {

          .navigation-mobile-menu,
          .navigation-item-decoration {
            display: none;
          }

          ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
          }
        }

        .adchoices-script {
          img {
            display: none !important; // hide default script image (we display asset icon instead)
          }
        }

        .navigation-item,
        .adchoices-script,
        .cookiemanagement {
          a {
            text-decoration: none;
          }

          @include classlist(g('main._primary-nav.classlist')) {
            a {
              @include breakpoints {
                @include button(get($curr, 'button'), $media);
              }
            }
          }
        }
      }
    }

    &.footer-cust-links {
      padding-left: 12px;
      margin-top: 26px;
      margin-bottom: 15px;

      .navigation-item {
        a {
          font-size: 18px !important;
          font-weight: 700 !important;
          line-height: 1.22 !important;
          margin-bottom: 1px !important;
        }
      }
    }
  }

  // FOOTER SUPPLEMENTARY ROW
  .footer-supplementary {
    >.component-content {
      @include breakpoints {
        @include text(g('supplementary.text'), $media);
        @include box(g('supplementary.box'), $media);
      }

      >.content {
        @include wrapper;
        display: flex;
        flex-direction: column-reverse;

        @include media-query(desktop, auto) {
          flex-direction: row;
        }

        >.richText {
          @include media-query(tablet, auto) {
            width: 80%;
            padding-right: spacings('m');
          }

          @include media-query(desktop, auto) {
            width: 60%;
          }

          p {
            margin: 0;

            @include breakpoints {
              @include text(g('supplementary.text.copyright'), $media);
            }
          }
        }
      }
    }
  }

  // FOOTER SECONDARY NAVIGATION
  .footer-secondary-nav {
    flex-grow: 1;

    @include media-query(auto, notebook) {
      margin-bottom: spacings('s');

      &[class*="grid_"] {
        margin-left: 0;
      }
    }

    >.component-content>.content {
      margin: spacings('s') * -1;
      display: flex;
      align-items: center;


      @include media-query(desktop, auto) {
        justify-content: flex-end;
      }

      .richText ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          padding: 0;
          margin: spacings('s');

          &:before {
            display: none;
          }

          a {
            @include breakpoints {
              @include link(g('supplementary.text.link'), $media);
            }
          }
        }
      }

      .reference-icon-link {
        margin: spacings('s');

        .unilever-logo {
          display: block;
          text-align: center;
          position: relative;
          text-decoration: none;
          font-size: 0;

          @include breakpoints {
            @include icon(g('supplementary._unilever-icon.icon'), $media);
          }
        }
      }
    }
  }
}

.box {
  &.footer-cust-links {
    .navigation {
      .navigation-item {
        a {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.22;
          margin-bottom: 1px;
        }
      }
    }
  }
}

@import 'global/index';
@import 'simple/index';
