// The global footer inherit all the CSS of NASK footer,
// here is only overlap changes of CSS to achieve the
// specific behaviours of the global footer.

.form.country-selector-dropdown {
  @import 'config';
  @function g($a...) {
    @return get-last($countrySelectorDropdown, $a...);
  }

  .selectField {
    .component-content {
      .control-label {
        $label: merge((
          margin: (
            margin-bottom: 1px
          )
        ), g('_label.paragraph'));

        @include breakpoints() {
          @include paragraph($label, $media);
        }
      }

      .controls {
        position: relative;

        $dropdownWrapper: merge((
          display: block
        ), g('_dropdown-wrapper.button'));

        @include breakpoints {
          @include button($dropdownWrapper, $media);
        }

        $pseudo: safetype(g('_dropdown-wrapper.side'), 'after');
        &:#{$pseudo} {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
        }

        select {
          appearance: none;
          cursor: pointer;
          height: auto;
          box-shadow: none;

          $select: merge((
            display: flex,
            margin: (
              margin-top: breakpoint((tablet-max: spacings('xs'), desktop: spacings('xxs')))
            ),
            padding: 0 26px 0 0
          ), g('_dropdown-wrapper._select.button'));

          @include breakpoints {
            @include button($select, $media);
          }

          &::-ms-expand {
            display: none;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

