@import '../utils/all';

$common: () !default;

// global units //
$common: merge($common, (
  colors: (
    primary: (
      darker: #142121,
      dark: #4dd0e1,
      base: #89e0e3,
      light: #dbf5f6,
      lighter: #f5fcfc,
    ),
    secondary: (
      darker: #4a051e,
      dark: #790b32,
      base: #bd0d4c,
      light: #f1ceda,
      lighter: #fbf2f5,
    ),
    neutral: (
      darker: #000000,
      dark: #323b42,
      base: #6e7f8d,
      light: #b1bfca,
      lighter: #f2f4f6,
    ),
    lakme:(
      primary: #eb008b,
      textPrimary: #505050,
      textSecondary: #cfcfcf,
      textTertiary:#c9c9c9,
      sectionBgLight: #e2e2e2,
      supHeader:#1a1a1a 
    ),
    'white': #fff,
    'black': #000,
    'error': #ff0101,
  ),
  font-family: (
    primary: (
      name: unquote('din-condensed, Franklin Gothic, Avenir Next Condensed, sans-serif'),
      diff: (top: 0.11, bottom: 0.18)
    ),
    body: (
      name: unquote('Gotham-Book'),
      diff: (top: 0.14, bottom: 0.19)
    ),
    lakmePrimary:(
      name: unquote('Gotham-Black'),
      diff: (top: 0.11, bottom: 0.18)
    ),
  ),
  font-ratio: 1,
  font-sizes: (
    xxxs: 12px,
    xxs: 14px,
    xs: 16px,
    s: 20px,
    m: 26px,
    l: 38px,
    xl: 48px,
    xxl: 65px,
    xxxl: 72px
  ),
  spacings: (
    xxs: 5px,
    xs: 10px,
    s: 15px,
    m: 30px,
    l: 40px,
    xl: 50px,
    xxl: 80px,
    xxxl: 120px
  ),
  icon: (
    arrow-down: '\e908',
    arrow-left: '\e90c',
    arrow-right: '\e90d',
    arrow-up: '\e90e',
    button-bag: '\e900',
    cross-small: '\e901',
    cross: '\e902',
    facebook: '\e90a',
    hamburguer: '\e90f',
    instagram: '\e90b',
    map-location: '\e903',
    map: '\e909',
    pinterest: '\e904',
    search: '\e905',
    twitter: '\e906',
    unilever-logo: '\e907',
    phone: '\e910',
    ad-choices-logo: '\e911',
    speach: '\e912',
    headset: '\e913',
    email: '\e914',
    ok: '\e915',
    plus: '\e917',
    minus: '\e916',
    list-view: '\e918',
    grid-view: '\e919',
    list-bullet: '\e91a',
    filter: '\e91b',
    printer: '\e91d',
    person: '\e91c',
    timer: '\e91e',
    FAQ: '\e91f',
    zoom: '\e920'
  ),
  transitions: (
    speed: (
      slow: 0.6s,
      base: 0.3s,
      fast: 0.15s
    ),
    stagger: (
      slow: 0.12s,
      base: 0.08s,
      fast: 0.04s
    ),
    ease: ease-in // material design ease out calculation
  )
));

// base configurations //
$common: merge($common, (
  background: (
    body: (
      background-color: color('white')
    )
  ),
  text: (
    body: (
      text-transform: none,
      font-style: normal,
      text-align: left,
      color: color('black'),
      font-family: 'body',
      font-size: px('xxs'),
      font-weight: normal,
      line-height: 1.5
    )
  )
));

@import '../commons/all';
