@font-face {
    font-family: 'Gotham-Black';
    src: url('../../assets/fonts/Gotham-Black.woff2') format('woff2'),
         url('../../assets/fonts/Gotham-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'Gotham-Book';
    src: url('../../assets/fonts/Gotham-Book.woff2') format('woff2'),
         url('../../assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}