@import '../../../../core/config';
.richText-content {
  .title-line-below {
    text-transform: uppercase;
    font-family: font-family('lakmePrimary');
    font-size: px('l');
    &:after{
      border-top: 10px solid color('lakme','primary');
      content:"";
      width: 35px;
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}