$add-bag: (
  spacings: common('spacings')
);

$add-bag: merge($add-bag, (
  _box-overlay: (
    box: (
      background: transparentize(color('black'), 0.5)
    ),
  ),
  _main-box: (
    box: (
      background: color('white'),
      box-shadow: 0 4px 30px 0 transparentize(color('black'), 0.7)
    )
  ),
  _close-button: (
    button: (
      background: color('black'),
      border: (
        border: solid 1px color('black'),
        border-radius: 50%
      ),
      text: (
        color: color('white')
      ),
      icon: (
        side: before,
        content: common('icon.cross-small'),
        color: color('white'),
        spacing: 11px,
        font-size: px(11),
        margin: (
          margin-left: 9px
        ),
        hover: (
          color: color('black')
        )
      ),
      hover: (
        background: color('white'),
        text: (
          color: color('black')
        )
      )
    )
  ),
  _box-image: (
    box: ()
  ),
  _info-box: (
    box: (),
    _title: (
      paragraph: (
        text: (
          font-family: 'body',
          font-size: px('l'),
          font-weight: bold,
          line-height: 1.16,
          text-align: left,
          color: color('black')
        )
      )
    ),
    _warning: (
      text: (
        font-family: 'body',
        font-size: px('xxxs'),
        font-weight: bold,
        text-transform: uppercase,
        color: color('secondary', 'base')
      )
    ),
    _buy-button: (
      button: extend('button.base', (
        background: color('primary', 'base'),
        border: (
          border: solid 1px color('primary', 'base'),
          border-radius: 3px
        ),
        text: (
          color: color('black'),
          font-family: 'primary',
          font-size: px(18),
          line-height: 1.44
        ),
        hover: (
          background: color('primary', 'dark')
        )
      ))
    ),
    _price: (
      paragraph: (
        text: (
          font-family: 'body',
          font-size: px('l'),
          font-weight: bold,
          line-height: 1.16,
          text-align: left,
          color: color('black')
        )
      )
    ),
    _dropdown: (
      _label: (
        paragraph: (
          text: (
            font-family: 'body',
            font-size: px('xxxs'),
            font-weight: bold,
            text-transform: uppercase,
            color: color('neutral', 'dark')
          )
        )
      ),
      _select: (
        button: (
          border: solid 1px color('neutral', 'light'),
          text: (
            font-family: 'body',
            font-size: px(18),
            color: color('neutral', 'base')
          ),
          icon: (
            side: after,
            content: common('icon.arrow-down'),
            color: color('black'),
            font-size: px(10)
          )
        )
      )
    )
  )
));
