@import 'config';

.shoppable-lightbox-container {
  @function g($a...) {
    @return get-last($add-bag, $a...);
  }

  top: 0;
  left: 0;
  $overlayBgBox: merge((
    position: fixed,
    display: block,
    width: 100vw,
    height: 100vh,
    z-index: $z-index-layer,
    overflow: hidden,
  ), g('_box-overlay.box'));

  @include box($overlayBgBox, $media);
}

.shoppable-item-top-container {
  @function g($a...) {
    @return get-last($add-bag, $a...);
  }

  // /spinner

  div[ng-show=showSpinner] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flex > #warning {
    display: none;
  }

  #warning {
    margin: 1em 0;
    @include text(g('_info-box._warning.text'), $media);
  }

  // reset pre-set values
  .flex-30,
  .flex-50,
  .shoppable-item-image-td {
    flex: auto;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
  }

  z-index: $z-index-fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;

  .shoppable-item-info-table {
    @include media-query(mobile, tablet) {
      flex-direction: column;
    }
  }

  .shoppable-item-container {
    position: fixed;

    @include media-query(mobile, tablet) {
      top: 0;
      left: 0;
      transform: none;
      overflow-y: auto;
    }

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    $mainBox: merge((
      max-width: breakpoint(auto, auto, 1110px),
      max-height: breakpoint(auto, auto, 598px),
      width: 100%,
      height: 100%
    ), g('_main-box.box'));

    @include breakpoints {
      @include box($mainBox, $media);
    }
  }


  .shoppable-item-close-button {
    @include media-query(mobile, tablet) {
      top: 15px;
      right: 15px;
    }

    top: -15px;
    right: -15px;
    font-size: 0;
    line-height: 0;
    position: absolute;

    br {
      display: none;
    }
    div:empty {
      display: none;
    }

    $buttonClose: merge((
      height: 30px,
      width: 30px,
      min-width: 30px, // to override inehit values
      min-height: 30px, // to override inehit values
      margin: 0,
    ), g('_close-button.button'));

    @include button($buttonClose, $media);
  }

  .shoppable-item-image-container {
    position: relative;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;

    img {
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    $boxImage: merge((
      width: breakpoint(255px, 410px, 410px),
      height: breakpoint(255px, 410px, 410px),
      margin:(
        margin: breakpoint(
          g('spacings.m') auto g('spacings.m') auto,
          g('spacings.xl') 0 0 g('spacings.xl'),
          g('spacings.xl') 0 0 g('spacings.xl'))
      )
    ), g('_box-image.box'));

    @include breakpoints {
      @include box($boxImage, $media);
    }
  }

  .flex-50 {
    $textBox: merge((
      box-sizing: border-box,
      margin: (
        margin: breakpoint(
          g('spacings.m') g('spacings.l') 0 g('spacings.l'),
          g('spacings.xl') g('spacings.xxl') 0 g('spacings.xxl'),
          g('spacings.xl') g('spacings.xxl') 0 g('spacings.xxl')
        )
      )
    ), g('_info-box.box'));

    @include breakpoints {
      @include box($textBox, $media);
    }
  }

  .shoppable-item-product-description,
  .shoppable-item-product-brand {
    display: none;
  }


  .shoppable-item-product-name {
    $title: merge((
      margin: (
        margin: 0 0 g('spacings.m') 0
      )
    ), g('_info-box._title.paragraph'));

    @include paragraph($title, $media);
  }

  .layout-row {
    .layout-row {
      flex-direction: column;

      &.shoppable-merchant-color-container {
        flex-direction: row;
      }
    }
  }
  // ======================
  // resets for selections
  .md-input-container,
  .md-input-has-value,
  .shoppable-item-size-selection-label,
  .shoppable-item-merchant-group-label,
  .shoppable-item-qty-selection-label {
    position: static;
    opacity: 1;
    margin: 0;
    padding: 0;
  }

  .shoppable-item-size-selection-container,
  .shoppable-item-qty-selection-continer,
  .md-input-has-placeholder {
    position: static;
    margin:0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;

    ._md-select-value {
      border: 0;
    }
    ._md-select-icon,
    &::after {
      display: none;
    }
  }
  // ======================

  // label selection
  .shoppable-item-size-selection-label,
  .shoppable-item-merchant-group-label,
  .shoppable-item-qty-selection-label {
    @include paragraph(g('_info-box._dropdown._label.paragraph'), $media);
  }

  //select
  .shoppable-item-size-selection-select,
  .shoppable-item-qty-selection-select,
  .shoppable-item-merchant-group-select {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: g('spacings.s');
    }
    ._md-select-value {
      margin: g('spacings.xs') 0 g('spacings.xs') g('spacings.s');
    }

    $dropdown: merge((
      box-sizing: border-box,
      display: block,
      width: 100%,
      height: 50px,
      icon: (
        margin: (
          margin-top: -5px
        )
      )
    ), g('_info-box._dropdown._select.button'));

    @include button($dropdown, $media);
  }

  .shoppable-item-qty-selection-continer,
  .shoppable-item-size-selection-container {
    margin-top: g('spacings.s');
  }

  .shoppable-item-size-selection-container {
    padding-right: g('spacings.s')
  }

  .shoppable-item-qty-selection-continer {
    padding-left: g('spacings.s')
  }

  .shoppable-item-price-add-td {
    display: block;
    + div {
      display: block;
      width: 100%;
    }

    .shoppable-item-price-label {
      font-size: 0;

      $price: merge((
        margin: (
          margin: g('spacings.m') 0 g('spacings.m') 0
        )
      ), g('_info-box._price.paragraph'));

      .shoppable-item-price-number {
        @include paragraph($price, $media);
      };
    }
  }

  .shoppable-item-add-button {
    flex: 1 50%;

    &.ng-hide {
      display: none;
    }

    $buyButton: merge((
      max-width: breakpoint(100%, 215px, 215px) ,
      width: 100%,
      height: 50px,
      margin: 0 ,
      padding: 17px g('spacings.xs') 19px g('spacings.xs'),
    ), g('_info-box._buy-button.button'));

    @include breakpoints {
      @include button($buyButton, $media);
    }
  }
}
