.searchResults {
  @import 'config';
  @function g($a...) {
    @return get-last($article, $a...);
  }

  // default view
  .item-article {
    @include breakpoints {
      @include box(g('_grid-view-article.box'), $media);

      .searchResults-desc h5 {
        @include paragraph(g('_grid-view-article._title.paragraph'), $media);
      }
    }
    .searchResults-icon {
      @include breakpoints {
        @include box(g('_grid-view-article._icon.box'), $media);
      }
      @include coverImage;
    }
  }

  // grid view
  .display-grid .item-article {
    .searchResults-icon {
      @include breakpoints {
        @include box(g('_grid-view-article._icon.box'), $media);
      }
    }
  }

  // list view
  .display-list .item-article {
    @include breakpoints {
      @include box(g('_list-view-article.box'), $media);

      .searchResults-desc h5 {
        @include paragraph(g('_list-view-article._title.paragraph'), $media);
      }
      .searchResults-desc .richText p {
        @include paragraph(g('_list-view-article._description.paragraph'), $media);
      }
    }

    .searchResults-icon {
      @include breakpoints {
       @include box(g('_list-view-article._icon.box'), $media);
      }
    }
  }

  .taglist {
    display: none;
  }
}
