$filterCloud: (
  spacings: common('spacings'),
);

$filterCloud: merge($filterCloud, (
  button: (
    background: color('neutral', 'light'),
    text: (
      font-family: 'body',
      font-size: px('xxs')
    ),
    icon: (
      side: after,
      content: common('icon.cross'),
      color: color('black'),
      font-size: px(10),
      spacing: 10px,
      margin: (
        margin-left: 10px,
        margin-right: 10px,
        margin-top: 1px
      )
    ),
    hover: (
      background: color('primary', 'base')
    )
  )
));