
.filterCloud {
  @import 'config';
  @function g($a...) {
    @return get-last($filterCloud, $a...);
  }

  max-width: 460px;
  flex-grow: 1;
  align-items: flex-start;

  @include media-query(mobile) {
    order: 3;
    margin-top: 30px;
  }

  .filterCloud-item {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 13px;
    height: 26px;
    padding: 2px 20px; 
    margin-right: 5px;
    margin-top: 5px;

    &:after {
      display: block;
    }

    .filter-label {
      padding-left: 10px;
    } 

    a {
      font-size: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 13px;
      opacity: 0;
    }

    @include breakpoints {
      @include button(g('button'), $media);
    }
  }
}
