@import '../config'; // import general results config

$product: (
  spacings: common('spacings'),
);

// search result product item in grid view
$product: merge($product, (
  _quick-view-button: (
    button: extend('_base.button', (
      padding: 10px,
      margin: (
        margin-top: 10px,
      ),
      width:100%,
      text: (
        font-size: px(18),
        font-weight: bold,
        line-height: 1.22,
        color: color('black'),
        text-decoration: none
      ),
      border: (
        border: 1px solid color('neutral', 'light'),
        border-radius: 3px
      ),
      background: (
        background-color: color('white')
      ),
      hover: (
        background: (
          background-color: rgba(color('primary'), 0.2)
        )
      )
    ))
  ),
  _ratings: (
    _count: (
      paragraph: (
        text: (
          color: black,
          line-height: 1.5,
          letter-spacing: 0.3px,
          font-weight: bold,
          text-decoration: none,
        )
      )
    )
  )
));