.searchResults {
  @import 'config';
  @function g($a...) {
    @return get-last($product, $a...);
  }

  // grid view
  .item-product {

    .bv_writeAReview_buttonMinimalist.bv_ffs_hover {
      display: none !important; //overwrite ratings important styles
    }

    .ratingsandreviews .bv_main_container .bv_numReviews_text,
    .ratingsandreviews .bv_main_container .bv_avgRating {
      @include breakpoints {
        /*! @important(start) */
        @include paragraph(g('_ratings._count.paragraph'), $media);
        /*! @important(stop) */
      }
    }

    .quickview-btn {
      cursor: pointer;

      @include breakpoints() {
        @include button(g('_quick-view-button.button'), $media)
      }

      @include media-query(mobile) {
        display: none;
      }
    }

    .richText:last-of-type {
      // hide in grid view only
      display: none;
    }
  }

  .display-list {
    .quickview-btn {
      display: none;
    }
  }
}