.carousel-hero {
  @import 'config';
  @function g($a...) { @return get-last($carousel-hero, $a...); }
  .component-content {
    position: relative;
  }
  .carousel-slides {
    $box: merge((
      overflow: hidden,
      margin: 0,
      padding: 0
    ), g('_carousel-slides.box'));

    @include breakpoints {
      @include box($box, $media);
    }

    max-height: 50vh; // Assure that page title is visible in viewport
    list-style: none;
  }

  &.is-ready {
    .composite-hero-image .box > .component-content {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .carousel-slide {
      position: static;
    }
  }

  .carousel-slide {
    $carousel-slide: merge((
      width: 100%,
      position: absolute
    ),g('_carousel-slides._carousel-slide.box'));

    @include breakpoints {
      @include box($carousel-slide, $media);
    }

    &.is-active {
      display: block;
    }

    .image-and-content {
      overflow: hidden;
    }

    .no-content .carousel-cover,
    .no-image .carousel-content {
      float: none;
      width: 100%;
    }
  }

  .carousel-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    @include breakpoints {
      @include box(g('_carousel-nav.box'), $media);
    position: absolute;
    top:50%;
    margin-top: -10px;
    width:100%;
    }

    .carousel-nav-item {
      a {
        @include breakpoints {
          @include button(g('_carousel-nav._item.button'), $media);
        }

        font-size: 0;
        box-sizing: border-box;
      }
      display: none;
      &.is-active a {
        @include breakpoints {
          @include button(g('_carousel-nav._item-active.button'), $media);
        }
      }
    }

    .carousel-nav-prev,
    .carousel-nav-next {
      @include media-query(auto, notebook) {
        display: none;
      }
      
      a {
        @include breakpoints {
          @include button(g('_carousel-nav._nav-item.button'), $media);
        }

        color: transparent;
        position: relative;

        $pseudo: safetype(g('_carousel-nav._nav-item.button'), 'after');
        &:#{$pseudo} {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .carousel-nav-prev {
      left: 7%;
      position: absolute;
    }
    .carousel-nav-next {
      right: 7%;
      position: absolute;
    }
    .carousel-nav-prev a {
      @include breakpoints {
        @include button(g('_carousel-nav._nav-item._prev.button'), $media);
      }

      [dir="rtl"] & {
        @include breakpoints {
          @include button(g('_carousel-nav._nav-item._next.button'), $media);
        }
      }
    }

    .carousel-nav-next a {
      @include breakpoints {
        @include button(g('_carousel-nav._nav-item._next.button'), $media);
      }

      [dir="rtl"] & {
        @include breakpoints {
          @include button(g('_carousel-nav._nav-item._prev.button'), $media);
        }
      }
    }
  }
}
