@import '../../../core/config';

.box {
  &.box-experts-list {
    .richText-expert-item {
      
      img {
        border: 1px solid color('lakme', 'primary');
        border-bottom: none;
        box-sizing: border-box;
      }
      .richText-content{
        background: color('white');
        border: 1px solid #959595;
        h3 {
          padding-top: 10px;
          margin-top: 0;
          font-family: font-family('lakmePrimary');
        }
  
        p {
          margin: 5px 0;
        }
      }
    }

  }
}