.button-clear-filters {
  @import 'config';
  @function g($a...) {
    @return get-last($clear-filters, $a...);
  }

  display: none;
  pointer-events: none;
  text-transform: uppercase;

  @include button(g('button'), $media);
  @include button(g('_button-disabled.button'), $media);

  p {
    margin: 0;
  }

  .has-filters & {
    pointer-events: initial;
    @include button(g('button'), $media);
  }

  @include media-query(mobile) {
    display: inline-flex;
  }
}
