@import '../../../core/config';

.table {
  &.table-reward-table {
    @include media-query(auto, mobile) {
      overflow: hidden;
      overflow-x: scroll;
    }

    table {
      table-layout: fixed;
      color: color('lakme', 'textPrimary');
      text-transform: uppercase;

      @include media-query(auto, tablet) {
        table-layout: auto;
      }

      th {
        background: #ededed;
        color: color('lakme', 'primary');
        font-family: font-family('lakmePrimary');
      }

      tr {
        &:nth-child(2) {
          font-family: font-family('lakmePrimary');
        }

        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
    }

    &.table-happy-hours {
      table {
        tr {
          &:nth-child(2) {
            font-family: font-family('body');
          }
        }
      }
    }
  }
}
