@import '../../core/config';

.composite.composite-variation-hero_image_with_side_text {
  @import 'config';
  @function g($a...) {
    @return get-last($heroImageWithSideText, $a...);
  }

  .image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  > .content {
    @include breakpoints() {
      @include box(g('_main.box'), $media)
    }

    > .richText {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      $box: merge((
        padding: (
          padding-top: breakpoint((tablet-max: get($heroImageWithSideText, 'spacings.m'))),
          padding-bottom: breakpoint((tablet-max: 60px))
        ),
        background: (
          background-color: breakpoint((tablet-max: color('neutral', 'lighter')))
        ),
        position: breakpoint((desktop: absolute))
      ), g('_main._text-wrapper.box'));

      @include media-query(mobile, notebook) {
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }

      @include wrapper;
      @include breakpoints() {
        @include box($box, $media);
      }

      .richText-content {
        $box: merge((
          max-width: breakpoint((tablet-max: 100%, desktop: 380px)),
          margin: (
            margin-bototm: get($heroImageWithSideText, 'spacings.s') * -1
          )
        ), g('_main._text-wrapper._wrapper-content.box'));

        @include breakpoints() {
          @include box($box, $media);
        }

        h3 {
          $paragraph: merge((
            margin: (
              margin: 0 0 20px
            )
          ), g('_main._text-wrapper._wrapper-content._headline.paragraph'));

          @include breakpoints() {
            @include paragraph($paragraph, $media);
          }
        }
      }
    }
  }
}
