@import '../../../core/config';

.carousel-hero.main-carousel{
  .carousel-nav-prev, .carousel-nav-next{
    display: none
  }
  .carousel-nav-item {
    a{
      background-color:#717171; 
    }
  }
  .carousel-nav-item.is-active{
    a {
      background-color: color('lakme','primary')
    } 
  }
}