$store-locator: (
  spacings: common('spacings')
);

$store-locator: merge($store-locator, (
  button: extend('_base.button', (
    background: color('white'),
    max-width: 180px,
    width: 100%,
    border: (
      border: solid 1px color('neutral', 'base'),
      border-radius: 3px
    ),
    padding: 17px get($store-locator, 'spacings.xs') 19px get($store-locator, 'spacings.xs'),
    text: (
      color: color('black'),
      font-size: px(18),
      line-height: 1.22
    ),
    hover: (
      background: color('black'),
      text: (
        color: color('white')
      )
    )
  )),
  _sizes-title: (
    paragraph: (
      display: block,
      text: (
        color: color('neutral', 'dark'),
        font-family: 'body',
        font-size: px(12),
        line-height: 1.5
      )
    )
  ),
  _sizes-holder: (
    box: (
      display: inline-flex,
      position: relative,
      height: 50px,
      width: 50px,
      margin: (
        margin: get($store-locator, 'spacings.xs') 20px get($store-locator, 'spacings.xs') 0
      )
    )
  ),
  _sizes-radio: (
    background: (
      background: color('white')
    ),
    border: (
      border: solid 1px color('black'),
      border-radius: 50%
    ),
    text: (
      color: color('black'),
      font-family: 'primary',
      font-size: px(18),
      font-weight: bold,
      font-stretch: condensed,
      line-height: 1
    ),
    hover: (
      background: (
        background: color('primary', 'base')
      )
    )
  ),
  _sizes-radio-checked: (
    background: (
      background: color('black')
    ),
    text: (
      color: color('white')
    )
  )
));
