$ratings-and-reviews: (
  spacings: common('spacings')
);

$ratings-and-reviews: merge($ratings-and-reviews, (
  _avg-rating: (
    box: (
      margin: (
        margin-left: 7px
      )
    ),
    link: (
      text: (
        color: color('black'),
        font-family: 'body',
        font-size: px(xxxs),
        font-weight: bold,
        letter-spacing: 0.3px,
        line-height: 1.33,
        text-decoration: none,
        text-transform: uppercase
      ),
      hover: (
        text: (
          text-decoration: underline
        )
      )
    )
  ),
  _num-reviews: (
    box: (
      margin: (
        margin-left: 7px
      )
    ),
    link: (
      text: (
        color: color('black'),
        font-family: 'body',
        font-size: px(xxxs),
        letter-spacing: 0.3px,
        line-height: 1.33,
        text-decoration: none,
        text-transform: uppercase
      ),
      hover: (
        text: (
          text-decoration: underline
        )
      )
    )
  ),
  _cta: (
    link: (
      text: (
        color: color('black'),
        font-family: 'primary',
        font-size: px(xxxs),
        font-weight: bold,
        letter-spacing: 0.2px,
        line-height: 1.83,
        text-decoration: none,
        text-transform: uppercase
      ),
      hover: (
        text: (
          text-decoration: underline
        )
      )
    )
  ),
  _cta-separator: (
    box: (
      position: relative,
      padding: (
        padding-left: 41px
      )
    ),
    icon: (
      content: '',
      color: color('neutral', 'light'),
      display: inline-block,
      height: 15px,
      side: 'before',
      border: (
        border-left: solid 1px
      ),
      margin: (
        margin-left: -20px
      )
    )
  )
));
