@font-face {
  font-family: 'icons';
  src:
    url('../../assets/fonts/icons.woff?d6t94w') format('woff'),
    url('../../assets/fonts/icons.ttf?d6t94w') format('truetype'),
    url('../../assets/fonts/icons.svg?d6t94w#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  @include breakpoints {
    @include background(common('background.body'), $media);
    @include text(common('text.body'), $media);
  }
}

a, button {
  @include breakpoints {
    @include link(common('_links._base-focus.link'), $media);
  }
}

a {
  &, &:active, &:hover, &:visited {
    color: inherit;
  }
}

input {
  @include breakpoints {
    @include input(common('_base-focus.input'), $media);
  }
}

.component {
  > .component-content {
    @include clearfix;
  }
}

#wrapper {
  // this is temporary
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  #content {
    flex-grow: 1;
  }

  #header {
    @include media-query(desktop, wide) {
      position: relative;
      z-index: $z-index-content + 1;
    }
  }

  &, > .main {
    // reseting grid.css stuff for full-width layouts
    padding: 0;
    margin: 0;
    width: auto;
  }
}

.composite {
  @include clearfix;
}

.alert {
  margin-bottom: 20px;

  &-list {
    margin: 0;
    padding: 0;
    list-style: disc inside;

    li {
      padding-left: 4px;
    }
  }

  &-error {
    color: $alert-text-color;
  }
}

.clearfix {
  @include clearfix;
}

.pull {
  &-right {
    float: right;
  }

  &-left {
    float: left;
  }
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.button {
  background-color: $background-color;
  border: 1px solid $link-border-color;
  color: $text-color;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: $background-hover-color;
    color: $text-hover-color;
  }
}

.object-fit-polyfill {
  // set bg image
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
    visibility: hidden;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.ua-ie-11 {   //fix for IE 11
  #content {
    height: 100%;
  }
}
