@import '../../core/config';

.smart-link {
  margin: 10px 0;

  &-previous:before, &-next:after {
    display: inline-block;
    position: relative;
    top: -1px;
    height: 14px;
    width: 6px;

    font-size: 8px;
    color: $black;
  }

  &-next:after {
    margin-left: 10px;

    @include font-awesome($fa-var-chevron-right);
  }

  &-previous:before {
    margin-right: 10px;

    @include font-awesome($fa-var-chevron-left);
  }

  &-list {
    margin: 0;
    padding: 0;

    overflow: hidden;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
    }
  }
}